@font-face {
  font-family: 'Roboto Mono';
  src: url('/assets/fonts/RobotoMono-VariableFont_wght.ttf') format(truetype);
}

@font-face {
  font-family: 'Roboto Mono Italic';
  src: url('/assets/fonts/RobotoMono-Italic-VariableFont_wght.ttf') format(truetype);
}

:root {
  --background-color: #0C0A15;
  --text-color-base: #E4E1F1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
  font-family: 'Roboto Mono';
  color: var(--text-color-base);
}

a {
  color: inherit;
  text-decoration: none;
}

.image__personal {
  max-width: 12.5rem;
  border-radius: 50%;
}