body {
  font-family: 'Open Sans', sans-serif !important;
  padding-top: 40px;
}

.target {
  border-bottom: 1px solid rgb(182, 179, 179);
}

.target:before {
   content: "";
   display: block;
   height: 50px;
   margin: -30px 0 0;
}

.main-navbar {
  background-color: rgb(29, 29, 29);
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
  font-weight: 700;
}

.nav-link {
  color: rgb(255, 255, 255) !important;
  font-size: 13px;
}

.nav-link:hover {
  border-top: 1px solid rgb(12, 144, 126);
  color: rgb(12, 144, 126) !important;
}
