.main-info {
  height: 100vh;
  margin-top: -5px;
  margin-bottom: 5em;
}

.jumbotron {
  background-color: #FFFFFF !important;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  height: 100vh;
  color: rgba(255, 255, 255, 0.8);
}

.main-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7em;
  text-align: left;
  display: inline-block;
}

.main-description {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: justify;
}

.main-description .text{
  font-size: 1.6em;
  font-weight: 600;
  color: #CAAB55;
  margin: -10px 0px -10px 0px;
}

.main-description .name{
  font-size: 2.45em;
  font-weight: 800;
  color: #FFBC00;
  margin: -10px 0px -10px 0px;
}
