.skills-section {
  padding: 0em 2em 0em 2em;
}

.skill-one .progress-bar {
  background-color: #A20D66;
}

.skill-two .progress-bar {
  background-color: #A20D66;
}

.skill-three .progress-bar {
  background-color: #A20D66;
}

.skill-four .progress-bar {
  background-color: #A20D66;
}

.skill-five .progress-bar {
  background-color: #A20D66;
}
