.skill-one .progress-bar {
  background-color: rgb(196, 72, 82);
}

.skill-two .progress-bar {
  background-color: rgb(191, 218, 87);
}

.skill-three .progress-bar {
  background-color: rgb(69, 106, 147);
}

.skill-four .progress-bar {
  background-color: rgb(226, 89, 97);
}

.skill-five .progress-bar {
  background-color: rgb(88, 208, 208);
}
